@charset "utf-8";

/* 레이아웃 */
#mNav {display: none; position: absolute; top: 10px; right: 14px;}
#header {width: 100%; background: #fdf9df;}
#gnb {width: 76%; margin: 0 auto;}
#banner {position: relative;}
#movie {background: #fff;}
#footer {background: #fff;}

/* A. 헤더 */
/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto;}
#header .container {width: 100%;}
/* 로우 영역 */
.row {padding: 0 28px;}
#header .row {padding: 0;}
/* 햄버거 메뉴 */
.ham {display: block; width: 25px; height: 10px; padding: 15px 10px 10px 10px;}
.ham span {position: relative; display: block; width: 25px; height: 4px; background: #3a0e6a;}
.ham span::before {content: ''; width: 25px; height: 4px; background: #3a0e6a; position: absolute; left: 0; bottom: -7px;}
.ham span::after {content: ''; width: 25px; height: 4px; background: #3a0e6a; position: absolute; left: 0; top: -7px;}

/* 헤더 영역 */
.header_line1 {width: 100%; height: 30px; border-bottom: 2px solid #666;}
.header_line2 {position: relative; width: 100%; height: 45px; border-bottom: 2px solid #666;}
.header_line3 {position: relative;width: 100%;height: 45px;}
.header_line4 { width: 100%; height: 30px; border-top: 2px solid #666;}
.header h1 {text-align: center;}
.header h1 em {display: inline-block;}
.header h1 em img {width: 222px;}
.header .nav1 {float: left;}
.header .nav1 ul li {float: left; width: 140px; text-align: center;}
.header .nav1 ul li a,
.header .nav2 ul li a {display: block; padding: 10px; font-size: 18px; font-weight: 700; color: #555;}
.header .nav2 {float: right;}
.header .nav2 ul li {float: left; width: 140px; text-align: center;}
.header .nav1 ul li a:hover,
.header .nav2 ul li a:hover {color: #222;}

/* B. GNB */
#gnb ul {margin-top: 12px; margin-bottom: 12px;}
#gnb ul li {float: left; width: 14%; text-align: center; border-right: 2px solid #666;}
#gnb ul li:nth-child(7) {border-right: none;}
#gnb ul li a {text-align: center; font-size: 18px; font-weight: 700;}
#gnb ul li:nth-child(1) a img {width: 74px; margin-top: 37px;}
#gnb ul li:nth-child(2) a img {width: 57px; margin-top: 8px;}
#gnb ul li:nth-child(3) a img {width: 60px; margin-top: 8px;}
#gnb ul li:nth-child(4) a img {width: 68px; margin-top: 7px;}
#gnb ul li:nth-child(5) a img {width: 40px; margin-top: 3px;}
#gnb ul li:nth-child(6) a img {width: 56px; margin-top: 4px;}
#gnb ul li:nth-child(7) a img {width: 56px; margin-top: 0px;}

/* C. 배너 */
.slide-bg {width: 100%; height: 600px; background: url(/mega/img/brick-banner.png) no-repeat center center; background-size: cover;}
.slider {margin: 0 auto; width: 76%; height: 600px; overflow: hidden; left: 12%;}
.grad {z-index: 100;position: absolute;display: block; top: -20px; width: 100%; height: 100px; background: linear-gradient(to top, transparent 0%, #000 100%);}
.slider .ss1 {background: url(/mega/img/banner-1-pc.png) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(/mega/img/banner-2-pc.png) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(/mega/img/banner-3-pc.png) no-repeat center center; background-size: cover;}
.slider .ss4 {background: url(/mega/img/banner-4-pc.png) no-repeat center center; background-size: cover;}
.slider .ss5 {background: url(/mega/img/banner-5-pc.png) no-repeat center center; background-size: cover;}

/* D. 콘텐츠 */
/* D-1. 영화 차트 */
.movie {padding-top: 100px;}
.t_movie {width: 400px; margin: 0 auto; margin-bottom: 100px;}
/* 라인 */
.movie_line1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 196px; top: 112px; width: 31%; height: 2px; background: #666;}
.movie_line2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 196px; top: 122px; width: 31%; height: 2px; background: #666;}
.movie_line3 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1088px; top: 112px; width: 31%; height: 2px; background: #666;}
.movie_line4 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1088px; top: 122px; width: 31%; height: 2px; background: #666;}
.movie_title {overflow: hidden; margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 844px; margin: 0 auto;}
.movie_title li {float: left; width: 420px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; background: #fff; font-weight: 700;}
.movie_title li a:hover {color: #2698cb;}
.movie_title li.active a {background: #666; color: #fff;}
/* 영화 슬라이드 */
.movie_chart {overflow: hidden; }
.movie_chart > div > div > div {display: inline-block; width: 292px; margin-right: 23px;}
.movie_chart > div > div > div:last-child {margin-right: 0;}
.movie_chart > div > div > div .poster {position: relative;}
.movie_chart > div > div > div .poster img {display: block;}
.movie_chart > div > div > div .poster .rank {position: absolute; top: 17px; left: 0; width: 50px; height: 50px; line-height: 50px; background-color: #38116a; text-align: center; box-shadow: 3px 3px 8px rgba(0,0,0,0.5);}
.movie_chart > div > div > div .poster .rank strong {color: #fff; font-size: 20px; text-shadow: 1px 1px 3px rgba(0,0,0,0.5)}
.movie_chart > div > div > div .infor {background: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.movie_chart > div > div > div .infor h3 {color: #333; font-size: 18px; font-weight: 700; margin-bottom: 20px;}
.movie_chart > div > div > div .infor h3 strong {padding-left: 0px;}
.movie_chart > div > div > div .infor h3 span {width: 26px; height: 26px; display: inline-block; margin-top: 9px; margin-right: 4px; vertical-align: -5px;}
.movie_chart > div > div > div .infor h3 span.all {background-position: -87px -125px;}
.movie_chart > div > div > div .infor h3 span.a12 {background-position: -58px -125px;}
.movie_chart > div > div > div .infor h3 span.a15 {background-position: 0 -125px;}
.movie_chart > div > div > div .infor .infor_btn {overflow: hidden;}
.movie_chart > div > div > div .infor .infor_btn a {display: block; float: left; width: 49%; margin-right: 2%; padding: 10px 0; text-align: center; background: #f2f2f2; color: #666; font-size: 18px;}
.movie_chart > div > div > div .infor .infor_btn a:last-child {margin-right: 0;}

/* D-2. 스토어 */
.help {padding-top: 100px; padding-bottom: 100px;}
.help article {float: left; width: 32%; height: 400px; margin-right: 2%;}
.help article.help_box3 {margin-right: 0;}
.t_store {width: 188px; margin: 0 auto; margin-bottom: 50px;}
.img_store2 {display: none;}
/* 라인 */
.store_line1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 254px; top: 114px; width: 40%; height: 2px; background: #666;}
.store_line2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 254px; top: 126px; width: 40%; height: 2px; background: #666;}
.store_line3 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1030px; top: 114px; width: 40%; height: 2px; background: #666;}
.store_line4 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1030px; top: 126px; width: 40%; height: 2px; background: #666;}
/* 더블콤보 */
.help_box1 .double a span {width: 320px; margin: 0 auto;}
.help_box1 .double a span img {width: 100%;}
/* 싱글패키지 */
.help_box2 .single a span {width: 320px; margin: 0 auto;}
.help_box2 .single a span img {width: 100%;}
.store2_txt {margin-left: 15%;}
.store2_txt:hover p {color: #2698cb;}
.store2_txt p {font-size: 19px; font-weight: 700; color: #555;}
.store2_txt p:first-child {font-size: 25px; color: #222;}
.store2_txt p em {font-size: 16px; font-weight: 400; color: #fff; background-color: #ed4c57; padding: 6px 18px; margin-left: 10px;}
.store2_txt p:nth-child(2) {margin-top: 10px;}
.store2_txt p:nth-child(3) {margin-top: -4px;}
/* 만원의 행복 */
.help_box3 .happy a span {width: 320px;}
.help_box3 .happy a span img {width: 100%;}

/* D-3. 이벤트 */
#event .row {padding: 24px;}
.event {overflow: hidden; padding-top: 100px;}
.event img {display: block;}
.t_event {width: 182px; margin: 0 auto; margin-bottom: 50px;}
/* 라인 */
.event_line1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 254px; top: 132px; width: 40%; height: 2px; background: #666;}
.event_line2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 254px; top: 142px; width: 40%; height: 2px; background: #666;}
.event_line3 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1030px; top: 132px; width: 40%; height: 2px; background: #666;}
.event_line4 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1030px; top: 142px; width: 40%; height: 2px; background: #666;}
.event .event_left {float: left; width: 100%; margin-bottom: 40px;}
.event .event_left .event_txt {font-size: 26px; font-weight: 500; margin-bottom: 20px;}
.event .event_left .event_box1 {float: left; width: 25%; transition: 0.3s;}
.event .event_left .event_box1:hover {width: 24%;}
.event .event_left .event_box2 {float: left; width: 25%; transition: 0.3s;}
.event .event_left .event_box2:hover {width: 24%;}
.event .event_left .event_box3 {float: left; width: 25%; transition: 0.3s;}
.event .event_left .event_box3:hover {width: 24%;}
.event .event_left .event_box4 {float: left; width: 25%; margin-bottom: 0; transition: 0.3s;}
.event .event_left .event_box4:hover {width: 24%;}

/* D-4. 큐레이션 */
.new {padding: 50px 0; position: relative;}
.t_curation {width: 292px; margin: 0 auto; margin-bottom: 100px;}
/* 라인 */
.curation_line1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 203px; top: 60px; width: 38%; height: 2px; background: #666;}
.curation_line2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 203px; top: 70px; width: 38%; height: 2px; background: #666;}
.curation_line3 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1025px; top: 60px; width: 38%; height: 2px; background: #666;}
.curation_line4 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 1025px; top: 70px; width: 38%; height: 2px; background: #666;}
.new .new_left {position: relative; margin-right: 423px; height: 558px; background: #ccc url(/mega/img/curation-video.png) center center; background-size: cover;}
.new .new_left .play {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 120px; height: 120px;}
.new .new_left .play .st0 {fill: #fff; opacity: 0.3;}
.new .new_left .play .st1 {fill: #fff;}
.new .new_right {position: absolute; right: 0; top: 195px; width: 400px; height: 558px; box-sizing: border-box; padding: 34px; background: #f0f0f0;}
.new .new_right .title {font-size: 26px; font-weight: 500; color: #000;}
.new .new_right .release {font-size: 12px; color: #333;}
.new .new_right .star {padding: 10px 0;}
.new .new_right .star strong {font-size: 15px; padding-left: 5px;}
.new .new_right .star span {display: inline-block; width: 20px; height: 20px; vertical-align: -4px;}
.new .new_right .star .star1 {background-position: -393px 0;}
.new .new_right .star .star2 {background-position: -412px 0;}
.new .new_right .star .star0 {background-position: -374px 0;}
.new .new_right .summary {font-size: 12.5px;}
.new .new_right .summary .age {padding-bottom: 10px;}
.new .new_right .summary .desc {height: 180px; overflow: hidden;}
.new .new_right .select {overflow: hidden;}
.new .new_right .select .s1 {float: left; width: 49%; margin-right: 2%;}
.new .new_right .select .s2 {float: left; width: 49%;}
.new .new_right .select .s3 {float: left; width: 100%; margin-top: 2%;}
.new .new_right .btn {overflow: hidden; margin-top: 6%; text-align: center;}
.new .new_right .btn a {float: left; width: 49%; box-sizing: border-box; display: block; padding: 10px 30px 12px 30px;}
.new .new_right .btn a.white {background-color: #fff; margin-right: 2%; color: #3a0e6a; border: 1px solid #3a0e6a;}
.new .new_right .btn a.purple {background-color: #3a0e6a; color: #fff; border: 1px solid #6e3abb;}
.new .new_right .btn a.white:hover {background-color: #3a0e6a; color: #fff; border: 1px solid #6e3abb;}
.new .new_right .btn a.purple:hover {background-color: #fff; color: #3a0e6a; border: 1px solid #3a0e6a;}

/* 라인 */
.f_line {width: 100%; height: 2px; background: #666;}
.f_line2 {width: 100%; height: 2px; margin-top: 7px; background: #666;}

/* E. 푸터 */
.footer_sns {position: absolute; right: 17px; top: 33px; z-index: 1;}
.footer_sns li {display: inline-block; margin: 0 2px;}
.footer_sns li a {display: block; width: 36px; height: 36px;}
.footer_sns li.s1 {background-position: 0 -375px;}
.footer_sns li.s2 {background-position: -36px -375px;}
.footer_sns li.s3 {background-position: -72px -375px;}
.footer_sns li.s4 {background-position: -108px -375px;}
.footer_sns li.s5 {background-position: -144px -375px;}
.footer_sns li.s1:hover {background-position: 0 -411px;}
.footer_sns li.s2:hover {background-position: -36px -411px;}
.footer_sns li.s3:hover {background-position: -72px -411px;}
.footer_sns li.s4:hover {background-position: -108px -411px;}
.footer_sns li.s5:hover {background-position: -144px -411px;}
.footer_sns .tel {text-align: right; padding-top: 5px;}
.footer_sns .tel a {color: #444; font-size: 21px;}
.footer_sns .tel a em {color: #444; font-weight: 700;}
.footer_info {padding: 50px 0; width: 80%;}
.footer_info h2 img {width: 150px;}
.footer_info ul {padding: 15px 0;}
.footer_info li {position: relative; display: inline; padding-right: 16px; white-space: nowrap;}
.footer_info li a:hover {color: #222;}
.footer_info li:after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background-color: #8f8f8f;}
.footer_info li:last-child:after {width: 0; height: 0;}
.footer_info li a {color: #8f8f8f;}
.footer_info address p {color: #8f8f8f; padding-bottom: 15px;}
.footer_brick {width: 100%; height: 200px; background: url(/mega/img/brick-footer-pc.png) no-repeat center center; background-size: cover;}

/* 트레일러 */
.overlay {background: rgba(0, 0, 0, .92); display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 10000;}
.modal {position: absolute;}
.modal_close {background: url(/mega/img/close.svg) no-repeat; background-size: 32px 32px; border: 0; color: transparent; display: block; width: 32px; height: 32px; overflow: hidden; position: absolute; top: 24px; right: 24px; text-indent: 100%;}
body.modal_on {overflow: hidden;}

/**********************************************************************************/
/********* 미디어쿼리 *********/
@media (max-width: 1290px){
    /* A. 헤더 */
    .container {width: 100%;}
    .header .nav1 ul li a {font-size: 15px; padding: 11px 10px;}
    .header .nav2 ul li a {font-size: 15px; padding: 11px 10px;}
    .header_line1 {height: 25px;}
    .header_line2 {position: relative; width: 100%; height: 40px;}
    .header_line3 {height: 40px;}
    .header_line4 {height: 25px;}
    .header h1 em img {width: 194px;}

    /* B. GNB */
    #gnb ul {margin-top: 10px; margin-bottom: 10px;}
    #gnb ul li a {font-size: 15px;}
    #gnb ul li:nth-child(1) a img {width: 64px; margin-top: 33px;}
    #gnb ul li:nth-child(2) a img {width: 47px; margin-top: 9px;}
    #gnb ul li:nth-child(3) a img {width: 50px; margin-top: 9px;}
    #gnb ul li:nth-child(4) a img {width: 58px; margin-top: 7px;}
    #gnb ul li:nth-child(5) a img {width: 30px; margin-top: 9px;}
    #gnb ul li:nth-child(6) a img {width: 46px; margin-top: 6px;}
    #gnb ul li:nth-child(7) a img {width: 46px; margin-top: 3px;}

    /* C. 배너 */
    .swiper-button-prev, .swiper-button-next {display: none;}
    .slide-bg {height: 480px;}
    .slider {height: 480px;}
    .grad {height: 80px;}

    /* D-1. 영화 차트 */
    .t_movie {width: 400px;}
    .movie_line1, .movie_line2, .movie_line3, .movie_line4 {display: none;}
    .movie_title ul {width: 804px;}
    .movie_title li {width: 400px;}
    .movie_title li a {padding: 14px 0; font-size: 16px;}

    /* D-2. 스토어 */
    .help {padding-bottom: 0;}
    .help article {width: 30%; height: 400px;}
    .t_store {width: 148px;}
    .store_line1, .store_line2, .store_line3, .store_line4 {display: none;}
    /* 더블콤보 */
    .store2_txt p {font-size: 16px;}
    .store2_txt p:first-child {font-size: 22px;}
    .store2_txt p em {font-size: 15px; padding: 5px 16px;}

    /* D-3. 이벤트 */
    .t_event {width: 148px;}
    .event_line1, .event_line2, .event_line3, .event_line4 {display: none;}
    .event .event_left .event_txt {font-size: 22px;}

    /* D-4. 큐레이션 */
    .t_curation {width: 260px; margin: 0 auto; margin-bottom: 100px;}
    .curation_line1, .curation_line2, .curation_line3, .curation_line4 {display: none;}
    .new .new_right {top: 191px;}
}
@media (max-width: 1024px){
    /* A. 헤더 */
    #header {background: #fff;}
    .purple_line {display: none;}
    .header_line1, .header_line2 {border-bottom: none;}
    .header_line4 {border-top: none;}
    #mNav {display: block;}
    .nav1, .nav2 {display: none;}
    .row {padding: 0 24px;}
    .header h1 {float: none; text-align: center;}

    /* C. 배너 */
    .banner_menu .bm_left {display: none;}
    .banner_menu .bm_right ul:first-child {display: none;}
    .slide-bg {height: 420px;}
    .slider {height: 420px;}
    .grad {height: 70px;}

    /* D-1. 영화 차트 */
    .t_movie {width: 360px;}

    /* D-2. 스토어 */
    .t_store {width: 128px;}
    .help article {height: auto;}
    /* 더블콤보 */
    .store2_txt p {font-size: 14px;}
    .store2_txt p:first-child {font-size: 18px;}
    .store2_txt p em {font-size: 14px; padding: 4px 12px;}

    /* D-3. 이벤트 */
    .t_event {width: 128px;}
    .event .event_left .event_txt {font-size: 18px;}

    /* D-4. 큐레이션 */
    .t_curation {width: 230px;}
    .new .new_right {top: 187px;}
}
@media (max-width: 960px){
    /* B. GNB */
    #gnb ul li a {font-size: 13px;}

    /* C. 배너 */
    .slide-bg {height: 420px;}
    .slider {height: 420px;}
    .grad {height: 70px;}
    .swiper-pagination-bullet {
        width: 13px !important; height: 13px !important;}

    /* D-1. 영화 차트 */
    .t_movie {margin-bottom: 24px;}
    .movie_title ul {width: auto;}
    .movie_title li {width: 50%; box-sizing: border-box;}

    /* D-4. 큐레이션 */
    .new .new_left {margin-right: 0; height: 530px;}
    .new .new_right { position: relative; top: 0; width: 100%; height: auto;}
    .new .new_right .summary .desc {height: 100px;}
    .new .new_right .select .s1 {width: 49.5%; margin-right: 1%;}
    .new .new_right .select .s2 {width: 49.5%;}
    .new .new_right .select .s3 {margin-top: 6px;}

    /* E. 푸터 */
    .f_line, .f_line2 {display: none;}
    .footer_sns {position: static; text-align: center; background: #fdfcf0; padding-bottom: 15px;}
    .footer_sns .tel {display: none;}
    .footer_info {width: 100%; text-align: center;}
}
@media (max-width: 768px){
    /* A. 헤더 */
    .header_line1, .header_line4 {display: none;}
    .header_line3 {height: 30px;}
    .logo {content: url("../img/logo-megabox.png");}
    .row {padding: 0 16px;}
    #mNav {right: 6px;}

    /* B. GNB */
    #gnb {display: none;}

    /* C. 배너 */
    .grad {top: 0; height: 40px;}
    .slide-bg {height: 400px; background: none;}
    .slider {width: 100%; height: 400px;}

    /* D-1. 영화 차트 */
    body {background: #d9d7e0;}
    #movie {background: none;}
    #movie .ir_so {position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 10px;}
    #movie .row {background: #fff; margin: 24px 24px 0 24px; padding: 24px;}
    .movie {padding: 0;}
    .movie_title {margin-bottom: 30px;}
    .movie_title ul {position: relative; padding-bottom: 10px;}
    .movie_title ul::before {content: ''; position: absolute; z-index: 1; left: 0; bottom: 10px; width: 100%; height: 2px;}
    .movie_title li {width: auto; border: 0;}
    .movie_title li a {position: relative; font-size: 18px; color: #666; font-weight: 400; margin-right: 35px;}
    .movie_title li.active a {background: none; color: #666;}
    .movie_title li.active a:before {content: ''; position: absolute; z-index: 2; left: 0; bottom: 0; width: 100%; height: 2px; background: #666;}

    /* D-2. 스토어 */
    .t_store {margin-bottom: 24px;}
    #help .row {margin: 24px; margin-bottom: 0; background: #fff;}
    .help {padding: 24px;}
    .help article {width: 32.5%; margin-right: 1%;}
    /* 더블콤보 */
    .store2_txt p {font-size: 11px;}
    .store2_txt p:first-child {font-size: 13px;}
    .store2_txt p em {font-size: 9px; padding: 3px 8px;}

    /* D-3. 이벤트 */
    .t_event {margin-bottom: 24px;}
    .event {padding: 24px; background: #fff;}
    .event .event_left {width: 100%; margin-right: 0;}
    .event .event_left3 {margin-bottom: 0;}
    .event .event_left .event_box1 {width: 33.2%;}
    .event .event_left .event_box1:hover {width: 30%;}
    .event .event_left .event_box2 {width: 33.2%;}
    .event .event_left .event_box2:hover {width: 30%;}
    .event .event_left .event_box3 {width: 33.2%;}
    .event .event_left .event_box3:hover {width: 30%;}
    .event .event_left .event_box4 {display: none;}

    /* D-4. 큐레이션 */
    #new .row {padding: 0 24px; margin: 24px 0; margin-top: 0;}
    .new {padding: 24px; background-color: #fff;}
    .new h2 {font-size: 24px; font-weight: 700; height: 27px; margin-bottom: 20px; padding-bottom: 10px;}
    .new .new_left {height: 410px;}

    /* E. 푸터 */
    .footer_brick {display: none;}
    #footer_info {background-color: #000;}
    .footer_info h2 img {content: url(../img/logo-megabox-white.png);}
    .footer_info li a:hover {color: #8f8f8f;}
    .footer_info li:after {background-color: #fff;}
    .footer_info li a {color: #fff;}
    .footer_info address p {color: #fff;}
}
@media (max-width: 600px){
    /* C. 배너 */
    .slide-bg {height: 310px;}
    .slider {height: 310px;}
    .slider .swiper-slide h2 {margin-top: 165px; line-height: 22px; font-size: 24px;}
    .slider .swiper-slide h2:after {width: 240px; top: 50px;} 
    .slider .swiper-slide em {font-size: 13px;}
    .slider .swiper-slide p {padding-top: 11px; font-size: 14px;}
    .banner_menu .bm_right li.white a {background-color: rgba(0,0,0,.5); color: #fff; border: 1px solid rgba(255,255,255,.5); padding: 3px 5px 5px 5px; font-size: 14px;}
    .banner_menu .bm_right li.purple a {background-color: rgba(0,0,0,.5); padding: 3px 5px 5px 5px; border: 1px solid rgba(255,255,255,.5); font-size: 14px;}
    .swiper-pagination-bullet {width: 12px !important; height: 12px !important;}

    /* D-1. 영화 차트 */
    .t_movie {width: 290px; margin-bottom: 16px;}
    #movie .row {margin: 12px; padding: 16px;}
    #movie .ir_so {font-size: 18px; padding-bottom: 0;}
    .movie_title {margin-bottom: 4px;}
    .movie_title ul {padding-bottom: 12px;}
    .movie_title ul::before {bottom: 56px; height: 2px;}
    .movie_title li a {font-size: 14px; margin-right: 15px;}
    .movie_title li.active a:before {bottom: 8px; height: 2px;}
    .movie_chart {position: relative; z-index: 30;}
    .movie_chart > div > div > div .infor {padding: 5px;}
    .movie_chart > div > div > div .infor h3 {text-align: center; margin: 5px 0 10px; }
    .movie_chart > div > div > div .infor h3 strong {display: block; font-size: 19px; color: #222; font-weight: 300;}
    .movie_chart > div > div > div .infor h3 span {display: none;}
    .movie_chart > div > div > div .infor .infor_btn a {width: 52%; margin-left: 24%; display: block; margin-right: 0; padding: 5px; color: #777; margin-bottom: 5px; box-sizing: border-box; font-size: 14px; background: none; border: 1px solid #ddd;}
    .movie_chart > div > div > div .infor .infor_btn a:last-child {display: none;}

    /* D-2. 스토어 */
    #help .row {margin: 12px; padding: 0;}
    .t_store {width: 120px; margin-bottom: 12px;}
    .help {padding: 16px;}
    .help_box3 {display: none;}
    .help article {width: 42%;}
    .help article.help_box1 {padding: 16px;}
    .help article.help_box2 {padding: 16px;}
    .store2_txt p em {font-size: 9px; padding: 3px 8px;}

    /* D-3. 이벤트 */
    #event .row {padding: 0 12px;}
    .event {padding: 16px;}
    .t_event {width: 120px; margin-bottom: 16px;}
    .event .event_left3, .event_left1 .event_box3, .event_left2 .event_box3 {display: none;}
    .event .event_left1 {margin-bottom: 24px;}
    .event .event_left2 {margin-bottom: 0;}
    .event .event_left .event_box1 {width: 50%;}
    .event .event_left .event_box1:hover {width: 47%;}
    .event .event_left .event_box2 {width: 50%;}
    .event .event_left .event_box2:hover {width: 47%;}

    /* D-4. 큐레이션 */
    #new .row {padding: 0 12px; margin: 12px 0;}
    .t_curation {width: 180px; margin-bottom: 16px;}
    .new {padding: 16px;}
    .new .new_left {height: 300px;}
    .new .new_right {padding: 17px;}
    .new .new_right .title {font-size: 22px;}
    .new .new_right .star {padding: 9px 0;}
    .new .new_right .summary {font-size: 11.5px;}
    .new .new_right .summary .desc {height: 110px;}
    .new .new_right .select s1 {width: 100%; margin-right: 0; margin-bottom: 2%;}
    .new .new_right .select s2 {width: 100%;}
}
@media (max-width: 480px){
    /* D-1. 영화 차트 */
    .movie_title ul {height: 29px; white-space: nowrap; overflow-x: auto;}

    /* D-2. 스토어 */
    .help article {width: 40%;}
    .help article.help_box1 {padding: 18px;}
    .help article.help_box2 {padding: 18px;}

    /* D-4. 큐레이션 */
    .new .new_right .summary {font-size: 11px;}
    .new .new_right .summary .desc {height: 130px;}
}
@media (max-width: 320px){
    /* D-1. 영화 차트 */
    .t_movie {width: 240px;}
    .movie_title ul {height: 29px; white-space: nowrap; overflow-x: auto;}

    /* D-2. 스토어 */
    .help article {width: 38%;}
    .help article.help_box1 {padding: 14px;}
    .help article.help_box2 {padding: 14px;}

    /* D-4. 큐레이션 */
    .new .new_right .summary {font-size: 11px;}
    .new .new_right .summary .desc {height: 180px;}
}